.App{
  display: flex;
  background-color: #936168;
  height: 100vh;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
}
.foto{
  width: 90%;
  height: 55%;
  background-color: #936168;
  margin-top: 5%;
  border-radius: 8px;
}
p{
  font-size: 22px;
  color: white;
  justify-content: center;
}